version: "3"
services:
  db:
    image: mysql:8.0.24
    container_name: userdb
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
      - ./initdb.d:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306

  redis:
    image: redis:6.2.2
    container_name: session_redis
    restart: always
    ports:
      - 6379:6379